/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */
nav{
    background-color: #0f1111;
    height: 60px;
}
.classa{
    text-decoration: none;
    font-size: 25px;
    color: orange;
}
.classb{
    text-decoration: none;
    color: white;
    margin-left: 150px;
    /* margin-right: 200px; */
}
input{
    margin-left: 150px;
}
button{
    background-color: #f08804;
    color: white;
}